# Python environments & caches
venv/
__pycache__/
*.pyc

# Model Binaries & Data
production_models/
*.pkl
*.csv
*.json
*.parquet

# Build Artifacts & Logs
target/
*.log

# Reports
*.html
*.pdf

# Environment Secrets
.env
*.key
